<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width,initial-scale=1'>

		<title>Gateway</title>

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

		<link rel='icon' type='image/png' href='/favicon.png'>
		<link rel='stylesheet' href='/css/gateway.css'>

		<script defer src='/js/gateway.js'></script>
	</head>

	<body>
		
		<script>let payment = {{ payment | dump | safe }}</script>
	</body>
</html>