.gateway-container {
  font-family: "Open Sans";
  margin: 1rem auto 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(66, 66, 66, 0.9);
  background: #f6f6f6;
  color: #39414b;
  display: flex;
  flex-direction: column;
  width: 96%;
}

.gateway-container .gateway-header {
  padding: .4rem;
  background: #727c89;
  color: #fff;
  text-align: center;
}

.gateway-container .gateway-header .title {
  font-size: 1.4rem;
}

.gateway-container .gateway-body {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.gateway-container .gateway-body .data {
  width: 60%;
  word-wrap: break-word;
}

.gateway-container .gateway-body .data .kv {
  margin-top: 1rem;
}

.gateway-container .gateway-body .data .kv .key {
  font-weight: bold;
  font-size: 1.1rem;
}

.gateway-container .gateway-body .data .kv .value {
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: left;
  padding: 0;
  max-width: 100%;
  font-size: 1.2rem;
}

.gateway-container .gateway-body .qrcode-container img {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff;
}

